extends ../common/common
block admin 
 .mws-panel.grid_8
  .mws-panel-header
    span
      i.icon-table
      |  用户订单商品列表
  .mws-panel-body.no-padding
    #DataTables_Table_1_wrapper.dataTables_wrapper(role='grid')
      #DataTables_Table_1_length.dataTables_length
        label
          | Show 
          select(size='1' name='DataTables_Table_1_length' aria-controls='DataTables_Table_1')
            option(value='10' selected='selected') 10
            option(value='25') 25
            option(value='50') 50
            option(value='100') 100
          |  entries
      #DataTables_Table_1_filter.dataTables_filter
        form(action="/admin/homeusersearch" method="get") 
          label
            | 用户订单商品搜索: 
            input(type='text' name="keywords" aria-controls='DataTables_Table_1')
            button.btn.btn-primary 搜索 
      table#DataTables_Table_1.mws-datatable-fn.mws-table.dataTable(aria-describedby='DataTables_Table_1_info')
        thead
          tr(role='row')
            th.sorting_asc(role='columnheader' tabindex='0' aria-controls='DataTables_Table_1' rowspan='1' colspan='1' aria-sort='ascending' aria-label='Rendering engine: activate to sort column descending' style='width: 258px;') 序号
            th.sorting(role='columnheader' tabindex='0' aria-controls='DataTables_Table_1' rowspan='1' colspan='1' aria-label='Browser: activate to sort column ascending' style='width: 333px;') 订单商品名称
            th.sorting(role='columnheader' tabindex='0' aria-controls='DataTables_Table_1' rowspan='1' colspan='1' aria-label='Platform(s): activate to sort column ascending' style='width: 309px;') 订单商品图片
            th.sorting(role='columnheader' tabindex='0' aria-controls='DataTables_Table_1' rowspan='1' colspan='1' aria-label='Engine version: activate to sort column ascending' style='width: 225px;') 订单商品购买数量
        tbody(role='alert' aria-live='polite' aria-relevant='all')
          -for(let v of data)
            tr.odd
              td.sorting_1 #{v.id}
              td.Firefox #{v.foodname}
              td 
                img(src=`https://sqqproject.oss-cn-hangzhou.aliyuncs.com/${v.pic}` width="100px" alt="")
              td.Win #{v.count} 
      #DataTables_Table_1_info.dataTables_info Showing 1 to 10 of 57 entries
      #DataTables_Table_1_paginate.dataTables_paginate.paging_full_numbers
        a#DataTables_Table_1_first.first.paginate_button.paginate_button_disabled(tabindex='0') First
        a#DataTables_Table_1_previous.previous.paginate_button.paginate_button_disabled(tabindex='0') Previous
        span
          a.paginate_active(tabindex='0') 1
          a.paginate_button(tabindex='0') 2
          a.paginate_button(tabindex='0') 3
          a.paginate_button(tabindex='0') 4
          a.paginate_button(tabindex='0') 5
        a#DataTables_Table_1_next.next.paginate_button(tabindex='0') Next
        a#DataTables_Table_1_last.last.paginate_button(tabindex='0') Last

